.logo {
  color: var(--green-1);
  font-size: var(--font-size-4);
  padding: 1vw;
  border-radius: var(--border-radius);
  text-decoration: none;
}

.nav-btn {
  width: 42px;
  height: 40px;
  border-radius: var(--border-radius);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: var(--green-1);
}

.navbar {
  position: sticky;
  top: 0;
  height: 15.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh 3vw 0 3.5vw;
  border-bottom: 1px solid var(--grey-1);
  background-color: var(--black-3);
  overflow: hidden;
  z-index: 990;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  justify-content: end;
  gap: 4vw;
}

.navpage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--black-2);
  transform: translateX(-100vw);
  overflow: hidden;
  z-index: 999;
  transition: var(--transition-3);
}

.navpage-btn-box {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10vw;
}

.navpage-btn {
  width: 40px;
  height: 40px;
  margin-top: 8vh;
  margin-bottom: 10vh;
}

.navpage-links {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 5vw;
  gap: 1vh;
}

.navpage-links .link {
  font-size: 1rem;
}

.show-navpage {
  transform: translateX(0);
  transition: var(--transition-3);
}

@media screen and (max-width: 767px) {
  /* Navigation */
  .navbar {
    height: 12vh;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-links {
    display: none;
  }
  .nav-btn {
    display: flex;
  }
}

.menu-icon {
  width: 70%;
  height: 70%;
}
.close-icon {
  width: 60%;
  height: 60%;
}
