.logo {
  color: var(--green-1);
  font-size: 1.5rem;
  padding: 1vw;
  border-radius: var(--border-radius);
  text-decoration: none;
}

/* .nav-btn {
  width: 42px;
  height: 40px;
  border-radius: var(--border-radius);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: var(--green-1);
} */

.navbar {
  position: sticky;
  top: 0;
  height: 15.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh 3vw 0 3.5vw;
  border-bottom: 1px solid var(--grey-1);
  background-color: var(--black-3);
  overflow: hidden;
  z-index: 999;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  justify-content: end;
  gap: 4vw;
}

.navpage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--black-2);
  transform: translateX(-100vw);
  overflow: hidden;
  z-index: 990;
  transition: var(--transition-3);
}

/* .navpage-btn-box {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10vw;
}

.navpage-btn {
  width: 40px;
  height: 40px;
  margin-top: 8vh;
  margin-bottom: 10vh;
} */

.show-navpage {
  transform: translateX(0);
  transition: var(--transition-3);
}

.burger-menu-box {
  padding: 3%;
  border-radius: var(--border-radius);
  background-color: var(--green-1);
  margin-right: 5%;
}

.burger-menu {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
}

.burger-menu div {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--black-2);
  border-radius: var(--border-radius);
  transition: var(--transition-3);
}

.burger-menu.open div {
  transition: var(--transition-3);
}
.burger-menu div:nth-child(1) {
  top: 0;
}
.burger-menu div:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.burger-menu div:nth-child(3) {
  bottom: 0;
}

.burger-menu.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-20%, 200%);
}
.burger-menu.open div:nth-child(2) {
  opacity: 0;
}
.burger-menu.open div:nth-child(3) {
  transform: rotate(45deg) translate(-20%, -200%);
}

@media screen and (max-width: 767px) {
  /* Navigation */
  .navbar {
    height: 12vh;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-links {
    display: none;
  }
  /* .nav-btn {
    display: flex;
  } */

  .burger-menu {
    display: block;
  }
}

/* 
-------------------------
Adjust to big desktops
-------------------------
*/
@media screen and (min-width: 1500px) {
  .logo {
    font-size: 1.6rem;
  }
}

/* 
-------------------------
Adjust to bigger desktops
-------------------------
*/
@media screen and (min-width: 1900px) {
  .logo {
    font-size: 2rem;
  }
}
