.download-btn {
  border: 0;
  background-color: var(--green-1);
  padding: 2vh 1.5vw;
  margin: 0.5vh 1vw;
  border-radius: var(--border-radius);
  transition: var(--transition-1);
}

.download-btn:hover {
  color: var(--black-1);
  background-color: var(--green-2);
  transform: scale(1.05);
  transition: var(--transition-1);
}

.navbar-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4vw;
}

.navpage-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  gap: 1vh;
}

.navpage-links .link {
  font-size: 1rem;
}

.link {
  position: relative;
  color: var(--white-1);
  font-size: 0.85rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3vh 0;
  transition: var(--transition-1);
}

.web-link::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  width: 0;
  height: 1.5px;
  background-color: var(--green-1);
  transition: var(--transition-1);
}

.web-link-active,
.web-link:hover {
  color: var(--green-1);
  padding-bottom: 0;
  transition: var(--transition-1);
}

.web-link-active::before,
.web-link:hover:before {
  width: 100%;
  left: 0;
  transition: var(--transition-1);
}

/* 
-------------------------
Adjust to big desktops
-------------------------
*/
@media screen and (min-width: 1500px) {
  .link {
    font-size: 1.1rem;
  }
}

/* 
-------------------------
Adjust to bigger desktops
-------------------------
*/
@media screen and (min-width: 1900px) {
  .link {
    font-size: 1.5rem;
  }
}
