.socials-icons {
  display: flex;
  gap: 1vw;
}

.footer-social-icons {
  height: 23vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5vh 1.5vh;
}

.social-icon {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-2);
  border-radius: 40%;
  border: 0;
  padding: 4px;
  transition: var(--transition-1);
}

.social-icon img {
  width: 25px;
}

.social-icon:hover {
  background-color: var(--grey-4);
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  transition: var(--transition-1);
}

.social-icon:focus-visible {
  outline: 2px solid var(--green-1);
  outline-offset: 3px;
}

/* 
-----------------------
Adjust to mobile phones
-----------------------
*/
@media screen and (max-width: 767px) {
  .socials-icons {
    gap: 2vw;
  }

  .social-icon {
    width: 38px;
    height: 38px;
  }

  .footer-social-icons {
    height: auto;
    flex-direction: row;
    gap: 2vw;
    padding-bottom: 2vh;
  }
}

/* 
-------------------------
Adjust to big desktops
-------------------------
*/
@media screen and (min-width: 1500px) {
  .social-icon {
    width: 42px;
    height: 42px;
  }
}

/* 
-------------------------
Adjust to bigger desktops
-------------------------
*/
@media screen and (min-width: 1900px) {
  .social-icon {
    width: 56px;
    height: 56px;
  }
}
