.user-input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
  padding-bottom: 5vh;
  border-bottom: 1px solid var(--grey-2);
}

.user-input {
  width: 100%;
  font-family: "Genos";
  font-size: 1.3rem;
  background: var(--black-2);
  border: 0;
  padding: 0 8px;
  color: var(--white-1);
}

.input-icon {
  width: 22px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .user-input-box {
    padding-bottom: 3vh;
  }
}
